<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BlindStore shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/product.css">
    <link rel="stylesheet" type="text/css" href="styles/product_responsive.css">
</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_inner d-flex flex-row align-items-center justify-content-start">
                <div class="logo"><a href="/">BlindStore</a></div>
                <nav class="main_nav">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="categories.html">Acessórios</a></li>
                        <li><a href="/contato">Contato</a></li>
                    </ul>
                </nav>
                <div class="header_content ml-auto">
                    <div class="search header_search">
                        <form action="#">
                            <input type="search" class="search_input" required="required">
                            <button type="submit" id="search_button" class="search_button"><img src="images/magnifying-glass.svg" alt=""></button>
                        </form>
                    </div>
                    <div class="shopping">
                        <!-- Cart -->
                        <a href="#">
                            <div class="cart">
                                <img src="images/shopping-bag.svg" alt="">
                                <div class="cart_num_container">
                                    <div class="cart_num_inner">
                                        <div class="cart_num">0</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
            <div class="menu_close_container">
                <div class="menu_close">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="logo menu_mm"><a href="#">BlindStore</a></div>
            <nav class="menu_nav">
                <ul class="menu_mm">
                    <li class="menu_mm"><a href="/">home</a></li>
                    <li class="menu_mm"><a href="#">Acessórios</a></li>
                    <li class="menu_mm"><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </div>

        <!-- Home -->

        <div class="home">
            <div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/product.jpg" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_container">
                            <div class="home_content">
                                <div class="home_title">Ótima escolha</div>
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><span th:text="${produto.nome}"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product -->

        <div class="product">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="current_page">
                            <ul>
                                <li><a href="/">BlindStore</a></li>
                                <li><span th:text="${produto.nome}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row product_row">

                    <!-- Product Image -->
                    <div class="col-lg-7">
                        <div class="product_image">
                            <div class="product_image_large"><img th:src="@{'/images/'+${produto.img}}" alt=""></div>
                        </div>
                    </div>

                    <!-- Product Content -->
                    <div class="col-lg-5">
                        <div class="product_content">
                            <div class="product_name"><span th:text="${produto.nome}"></span></div>
                            <div class="product_price"><span th:text="'R$ '+${produto.valor}"></span></div>
                            <div class="rating rating_4" data-rating="4">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- In Stock -->
                            <div class="in_stock_container">
                                <div class="in_stock in_stock_true"></div>
                                <span>Em estoque</span>
                            </div>
                            <div class="product_text">
                                <p><span th:text="${produto.descricao}"></span></p>
                            </div>
                            <!-- Product Size -->
                            <div class="product_size_container">
                                <div class="button cart_button"><a href="#">Comprar</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->

                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="footer_logo"><a href="#">BlindStore</a></div>
                                <nav class="footer_nav">
                                    <ul>
                                        <li><a href="index.html">home</a></li>
                                        <li><a href="categories.html">Acessórios</a></li>
                                        <li><a href="Contato.html">Contato</a></li>
                                    </ul>
                                </nav>
                                <div class="footer_social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="copyright">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script> All rights reserved | This template is made with by <a href="#" target="_blank">Vagnereis</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
           </div>
           </div>
            
           	<script src="js/jquery-3.2.1.min.js"></script>
            <script src="styles/bootstrap4/popper.js"></script>
            <script src="styles/bootstrap4/bootstrap.min.js"></script>
            <script src="plugins/easing/easing.js"></script>
            <script src="plugins/parallax-js-master/parallax.min.js"></script>
            <script src="js/product_custom.js"></script>
</body>

</html>