<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<meta charset="UTF-8">
<head>
	<title>Listar clientes</title>
	
	<!--<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">-->
	
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="container">
	<h2> Lista de produtos: </h2>
	
	<a href="/cadastrarProduto">Cadastrar novo produto</a>
	
	<table>
		<thead>
			<tr>
				<th> ID </th>
				<th> Nome </th>
				<th> Valor </th>
				<th> Descrição </th>
				<th> Imagem </th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="produto : ${produtos}">
				<td><a th:href="${(#mvc.url('PC#detalhesProduto').arg(0, produto.id)).build()}"><span th:text="${produto.id}"></span></a></td>
				<td><span th:text="${produto.nome}"></span></td>
				<td><span th:text="${produto.valor}"></span></td>
				<td><span th:text="${produto.descricao}"></span></td>
				<td><span th:text="${produto.img}"></span></td>
				
				<td> <a class="btn btn-danger" th:href="${(#mvc.url('PC#deletarProduto').arg(0, produto.id)).build()}"><i class="large material-icons">delete</i></a> </td>
			</tr>
		</tbody>
	</table>
</div>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
    <!--<script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>-->
	
</body>
</html>
